
#imgunal{
position: absolute;
width: 449px;
height: 161px;
left: 121px;
top: 5px;
background: url(../imagenes/header.png) 
}
#imggente{
 position: absolute;
width: 420px;
height: 227px;
left: 174px;
top: 220px;
background: url(../imagenes/gente.png) 
}
#saludo{

width: 480px;
height: 150px;
position: fixed;
font-family: Mulish;
font-style: normal;
font-weight: bold;
font-size: 36px;
margin-top: 500px;
margin-left: 144px;
line-height: 45px;
text-align: center;
color: #16191C;
}
#cuadrologin{
position: fixed;
background: #16191C;
width: 640px;
height: 900px;
left: 800px;

}
#cuadrolog{
    width:330px;
    background: #16191C;
    margin-top: 100px;
    margin-left: 180px;
}
#cuadroreg{
    width:330px;
    background: #16191C;
    margin-top: 50px;
    margin-left: 180px;
    
}

#titulo{

width: 358px;
height: 45px;
left: 113px;
top: 226px;

font-family: Mulish;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 45px;
color: #FFFFFF;
}

#subtitulo{
font-family: Mulish;
font-style: normal;
font-weight: 800;
font-size: 16px;
margin-bottom: 0px;
text-align: center;
color: #FFFFFF;
    
}

.entrada{

width: 300px;
height: 40px;
background: #1E2126;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
border-radius: 6px;
font-family: mulish;
font-weight: 900;
}

#registrolink{

margin-left: 150px;
font-family: Mulish;
font-weight: 200;
font-size: 16px;
line-height: 20px;
color: #FFFFFF;
}

#loginlink{
margin-left: 200px;
font-family: Mulish;
font-weight: 200;
font-size: 16px;
line-height: 20px;
color: #FFFFFF;
}

#olvidocont{
margin-left: 216px;
font-family: Mulish;
font-weight: 200;
font-size: 16px;
line-height: 20px;
text-align: center;


color: rgba(255, 255, 255, 0.8);
}

#boton{
width: 300px;
height: 40px;
font-weight: 500;
background: linear-gradient(180deg, #3969FC 0%, #2A49FF 100%);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
border-radius: 6px;
}

