<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Equipos Unal</title>

        <!--JQUERY-->
        <script
        src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <!-- FRAMEWORK BOOTSTRAP para el estilo de la pagina-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

        <!-- Los iconos tipo Solid de Fontawesome-->
        <link rel="stylesheet"
              href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
        <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

        <!-- Nuestro css-->
        <link href="../static/equipos.css" th:href="@{../equipos.css}" rel="stylesheet" type="text/css"/>
        <!-- DATA TABLE -->
        <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css">	
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">


        <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
        <script src="/funciones.js"></script>

    </head>

    <body>
        <div class="mx-auto col-sm-12 main-section pt-5" id="myTab" role="tablist">
            <ul class="nav nav-tabs bg-light d-flex justify-content-start">
                <li class="nav-item m-1">
                    <a class ="btn btn-info active" th:href="@{/logout}">Salir</a>
                    <a class ="btn btn-info active" th:unless="${isadmin != true}" th:href="@{/autorizar}">Autorizar usuarios</a>     
                </li> 
            </ul> 
            <ul class="nav nav-tabs bg-light d-flex justify-content-end" th:unless='${param.edit != null}'>
                <li class="nav-item">
                    <a class="nav-link" 
                       th:classappend="${param.edit == null ? 'active show' : ''}" 
                       id="list-tab" 
                       data-toggle="tab" 
                       href="#list">Equipos Migrados</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" 
                       th:classappend="${param.edit != null ? 'active show' : ''}" 
                       href="#form"
                       id="form-tab" 
                       data-toggle="tab" >Agregar</a>				   	
                </li>
            </ul>
            <ul class="nav nav-tabs bg-light d-flex justify-content-end" th:unless='${param.edit == null}'>
                <li class="nav-item">
                    <a class="nav-link" 
                       th:href="@{/equipos}">Volver</a>   
                </li>
                <li class="nav-item">
                    <a class="nav-link active show"                        
                       id="form-tab" 
                       data-toggle="tab" >Modificar</a>				   	
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade" th:classappend="${param.edit == null ? 'active show' : ''}" id="list" role="tabpanel" aria-labelledby="list-tab">
                    <div class="card">
                        <div class="card-header">
                            <h4>Equipos Migrados</h4>
                        </div>
                        <div class="alert alert-warning m-2" role="alert" th:text="${error}" th:unless="${error == null}"></div>
                        <div class="card-body">

                            <a target="_blank" class="btn btn-info active" th:href="@{/device/export}">Exportar datos</a>
                            <!-- Lista de eqipos-->
                            <div class="table-responsive">
                                <table id="ListaEquipos" class="table table-bordered table-hover table-striped">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>PLACA</th>
                                            <th>EQUIPO</th>
                                            <th>DEPENDENCIA</th>
                                            <th>EDIFICIO</th>
                                            <th>IP NUEVA</th>
                                            <th>RESPONSABLE</th>
                                            <th>Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody th:each="device:${datos}">
                                        <tr>
                                            <td th:text="${device.InvPlate}"></td>
                                            <td th:text="${device.TypeDevice.name}"></td>
                                            <td th:text="${device.agencie.name}"></td>
                                            <td th:text="${device.location.name}"></td>
                                            <td th:text="${device.newIP}"></td>
                                            <td th:text="${device.user.name}"></td>

                                            <td>
                                                <button 
                                                    class="btn btn-primary" 
                                                    type="button" 
                                                    data-toggle="collapse" 
                                                    th:data-target="${'#inv-'+device.InvPlate}" 
                                                    aria-expanded="false" 
                                                    th:aria-controls="${'inv-'+device.InvPlate}">
                                                    Ver más
                                                </button>
                                                <a class="btn btn-warning" th:href="@{equipos?edit={id}(id=${device.InvPlate})}">Editar</a>
                                                <button class="btn btn-danger" th:onclick="eliminar([[${device.id}]], '/device/delete/', '/equipos')">Borrar</button>
                                            </td>
                                        </tr>
                                        <tr class="collapse" th:id="${'inv-'+device.InvPlate}">
                                            <td class="card-body" colspan='7'>
                                                <ul class="list-group">
                                                    <li class="list-group-item" th:text="${'Salon: '+device.ClassRoom}"></li>
                                                    <li class="list-group-item" th:text="${'Descripción: '+device.description}"></li>
                                                    <li class="list-group-item" th:text="${'IP Antigua: '+device.oldIP}"></li>
                                                    <li class="list-group-item" th:text="${'Switch: '+device.switchIP}"></li>
                                                    <li class="list-group-item" th:text="${'Puerto: '+device.port}"></li>
                                                    <li class="list-group-item" th:text="${'MAC: '+device.MAC}"></li>
                                                    <li class="list-group-item" th:text="${'Clave Estandar: '+device.StandarKey}"></li>
                                                    <li class="list-group-item" th:text="${'Fecha de creación: '+device.RegisterTime}"></li>
                                                    <li class="list-group-item" th:text="${'fecha de actualización: '+device.UpdateTime}"></li>
                                                    <li class="list-group-item" th:text="${'Usuario creador: '+device.OwnerUser.name}"></li>
                                                    <li class="list-group-item" th:text="${'Usuario que actualiza: '+device.UpdateUser.name}"></li>
                                                </ul>                                                
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" th:classappend="${param.edit != null ? 'active show' : ''}" id="form" role="tabpanel" aria-labelledby="form-tab">
                    <div class="card">
                        <div class="card-header">
                            <h4>Agregar Equipo</h4>
                        </div>
                        <div class="card-body">
                            <!-- Agregar Equipos-->                                                      
                            <form th:action="${param.edit == null ? '/device/save' : '/device/update'}"  class="form" th:object="${device}" method="POST">
                                <input type="text" th:field="*{id}" class="d-none" />
                                <input type="text" th:field="*{OwnerUser}" class="d-none" />
                                <input type="text" th:field="*{RegisterTime}" class="d-none" />
                                <div class="form-group row">
                                    <label class="col-lg-3 col-form-label form-control-label">Tipo de Equipo</label>
                                    <div class="col-lg-9">
                                        <select class="form-control" name="typeDevice" th:unless="${param.edit == null}">
                                            <option th:each="a: ${typeDevices}"
                                                    th:selected ="${a.id} == *{typeDevice.id}"
                                                    th:value="${a.id}" 
                                                    th:text="${a.name}"></option>
                                        </select>
                                        <select class="form-control" th:field='*{typeDevice}' th:unless="${param.edit != null}">
                                            <option th:each="a:${typeDevices}" th:value="${a.id}" th:text="${a.name}"></option>
                                        </select>
                                    </div>
                                </div> <!-- Tipo Equipo -->                                                
                                <div class="form-group row">
                                    <label class="col-lg-3 col-form-label form-control-label">Dependencia</label>
                                    <div class="col-lg-9">
                                        <select class="form-control" name="agencie" id="agencie" th:unless="${param.edit == null}">
                                            <option th:each="a:${agencies}"
                                                    th:selected ="${a.getId()} == *{agencie.getId()}"
                                                    th:value="${a.id}" 
                                                    th:text="${a.name}"></option>
                                        </select>
                                        <select th:field="*{agencie}" class="form-control" th:unless="${param.edit != null}">
                                            <option th:each="agencie:${agencies}" th:value="${agencie.id}" th:text="${agencie.name}"></option>
                                        </select>
                                    </div>
                                </div> <!-- Dependencia -->
                                <div class="form-group row">
                                    <label class="col-lg-3 col-form-label form-control-label">Edificio</label>
                                    <div class="col-lg-9">
                                        <select class="form-control" name="location" th:unless="${param.edit == null}">
                                            <option th:each="a:${locations}"
                                                    th:selected ="${a.id} == *{location.id}"
                                                    th:value="${a.id}" 
                                                    th:text="${a.name}"></option>
                                        </select>
                                        <select class="form-control" th:field='*{location}' th:unless="${param.edit != null}">
                                            <option th:each="a:${locations}" th:value="${a.id}" th:text="${a.name}"></option>
                                        </select>
                                    </div>
                                </div> <!-- Edificio -->
                                <div class="form-group row">
                                    <label class="col-lg-3 col-form-label form-control-label">Salon</label>
                                    <div class="col-lg-9">
                                        <input class="form-control" type="number" name="classRoom" th:value='*{classRoom}' required/>
                                    </div>
                                </div> <!-- Salon de clase -->
                                <div class="form-group row">
                                    <label class="col-lg-3 col-form-label form-control-label">Responsable de la sala</label>
                                    <div class="col-lg-9">
                                        <select class="form-control" name="user" th:unless="${param.edit == null}">
                                            <option th:each="a: ${users}"
                                                    th:selected ="${a.id} == *{user.id}"
                                                    th:value="${a.id}" 
                                                    th:text="${a.name}"></option>
                                        </select>
                                        <select class="form-control" th:field='*{user}' th:unless="${param.edit != null}">
                                            <option th:each="a:${users}" th:value="${a.id}" th:text="${a.name}"></option>
                                        </select>
                                    </div>
                                </div> <!-- User Responsible -->
                                <div class="form-group row">
                                    <label class="col-lg-3 col-form-label form-control-label">Descripción</label>
                                    <div class="col-lg-9">
                                        <textarea class="form-control" name="description" th:text='*{description}' rows="4" cols="50"></textarea>
                                    </div>
                                </div> <!-- Descripcion -->   

                                <div class="form-group row">
                                    <label class="col-lg-3 col-form-label form-control-label">Placa</label>
                                    <div class="col-lg-9">
                                        <input class="form-control" type="text" name="invPlate" th:value='*{invPlate}' required/>
                                    </div>
                                </div> <!-- Placa inventario -->
                                <div class="form-group row">
                                    <label class="col-lg-3 col-form-label form-control-label">IP Vieja</label>
                                    <div class="col-lg-9">
                                        <input class="form-control" type="text" name="oldIP" th:value='*{oldIP}' required/>
                                    </div>
                                </div> <!-- oldIP -->  
                                <div class="form-group row">
                                    <label class="col-lg-3 col-form-label form-control-label">IP Nueva</label>
                                    <div class="col-lg-9">
                                        <input class="form-control" type="text" name="newIP" th:value='*{newIP}' required/>
                                    </div>
                                </div> <!-- newIP --> 
                                <div class="form-group row">
                                    <label class="col-lg-3 col-form-label form-control-label">Switch</label>
                                    <div class="col-lg-9">
                                        <input class="form-control" type="text" name="switchIP" th:value='*{switchIP}' required/>
                                    </div>
                                </div> <!-- switchIP -->                                   
                                <div class="form-group row">
                                    <label class="col-lg-3 col-form-label form-control-label">Puerto</label>
                                    <div class="col-lg-9">
                                        <input class="form-control" type="text" name="port" th:value='*{port}' required/>
                                    </div>
                                </div> <!-- Puerto --> 
                                <div class="form-group row">
                                    <label class="col-lg-3 col-form-label form-control-label">MAC</label>
                                    <div class="col-lg-9">
                                        <input class="form-control" type="text" name="MAC" th:value='*{MAC}' required/>
                                    </div>
                                </div> <!-- MAC --> 
                                <div class="form-group row">
                                    <label class="col-lg-3 col-form-label form-control-label">Clave estandar</label>
                                    <div class="col-lg-9">
                                        <input class="form-control" type="text" name="standarKey" th:value='*{standarKey}' required/>
                                    </div>
                                </div> <!-- standarKey --> 
                                <div class="form-group row">
                                    <div class="col-lg-12 text-center">
                                        <input type="reset" class="btn btn-secondary" value="Cancelar">
                                        <input type="submit" class="btn btn-primary" th:value="${param.edit == null ? 'Agregar' : 'Actualizar'}" />
                                    </div>
                                </div>
                            </form> 
                        </div> 

                    </div>
                </div>
            </div>
        </div>

        <script>
            $('.collapse').on('show.bs.collapse', function () {
                $('.collapse').removeClass('show')
                $(this).addClass('show')
            })
        </script>

    </body>
</html>